<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<div id="popup-close-shift" class="hide-popup popup-for-right">
    <div class="wrap-popup">
        <div class="popup-header">
            <button type="button" class="button cancel" data-bind="click: closeForm"><span data-bind="i18n:'Cancel'"/></button>
            <label class="title-box"><span data-bind="i18n:'Close shift'"/></label>
            <button type="submit" class="button btn-done" data-bind="click: closeShift"><span class="link-cl-cfg" data-bind="i18n:'Done'"/></button>
        </div>
        <div class="modal-body">
            <label class="cash-drawer"><span data-bind="i18n:'There should be'"/> <b><span data-bind="text: balance"/></b> <span data-bind="i18n:'in your cash drawer'"/></label>
            <div class="amount-box">
                <div class="input-box">
                    <label><span data-bind="i18n:'Cash Counted'"/></label>
                    <input type="text" data-bind="textInput: closedAmountFormatted, event:{change: closedAmountChange}"  onfocus="this.select()">
                </div>
                <div class="input-box">
                    <label><span data-bind="i18n:'Cash Left'"/></label>
                    <input type="text" data-bind="textInput: cashLeftFormatted, event:{change: cashLeftChange}"  onfocus="this.select()">
                </div>
                <div>
                    <span class="error_message" data-bind="text: cashLeftErrorMessage"/>
                </div>
                <textarea class="note" placeholder="Note" data-bind="value: closed_note"></textarea>
            </div>
            <div class="staff-name"><span data-bind="text:staffName"/> </div>
        </div>
    </div>
</div>