<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<div class="col-sm-8 col-left">
    <header class="o-header">
        <nav class="o-header-nav">
            <div class="detail-datetime"><span data-bind="text: shiftOpenedAt"/> </div>
        </nav>

        <!-- start html content for sales summary -->

            <!-- ko foreach: getRegion('sales-summary') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

        <!-- end html content for sales summary -->

    </header>

    <main class="main-content" data-bind="attr:{'class': noSalesSummary}">
        <!-- start html content for cash transaction activity -->

            <!-- ko foreach: getRegion('cash-activity') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

        <!-- end html content for cash transaction activity -->
    </main>

    <footer class="footer-shift">
        <div class="action-button">
            <button class="button btn-make-adjustment"  data-bind="visible: (isClosedShift()==false && canMakeAdjustment()), afterRender:afterRenderCashAdjustmentButton">Make Adjustment</button>
            <button class="button btn-close-shift" data-bind="visible: isClosedShift()==false, afterRender:afterRenderCloseButton">Close Shift</button>
            <button data-bind="visible: isClosedShift()==true, afterRender:afterRenderZReportButton" class="button btn-cl-cfg-other btn-print">Print</button>
        </div>

    </footer>
    <div id="cash-adjustment-container" data-bind="visible:canMakeAdjustment()">
        <!-- ko foreach: getRegion('cash-adjustment') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div id="close-shift-container">
        <!-- ko foreach: getRegion('close-shift') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div id="zreport-container">
        <!-- ko foreach: getRegion('zreport') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div class="wrap-backover hide-popup"></div>
</div>













